* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(235, 235, 235);
}

.container {
    width: 1024px;
    height: 100vh;
    margin: 0 auto;
    background-color: white;

}

.nav-bar {
    background-color: red;
}

.side-menu {
    background-color: green;
}

.content {
    background-color: blue;

}