.bg-color {
    background-color: #fcfcfc;
}

.grid-container-layout {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 80px 9fr;
    grid-template-areas:
        "side-bar nav-bar"
        "side-bar content-section";

    max-width: 1440px;
    margin: 0 auto;
}



.sidebar-section {
    border-right: 1px solid #F0F0F0;
    /* box-shadow: 0px 0px 10px 0px #e4e4e4; */
    box-shadow: 2px 0 10px #e4e4e4;
    grid-area: side-bar;
    display: flex;
    flex-direction: column;
    justify-items: end;
    padding-bottom: 1.5rem;

    &>.sidebar-web-title {
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0rem 2rem;

        &>.sidebar-web-picture {

            &>.circle-picture {
                border: 1px solid #F0F0F0;
                background-color: gray;
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

        }

        &>.sidebar-web-name {
            font-size: 2rem;
            font-weight: bold;
        }

    }

    &>.sidebar-menu-item {
        flex: 5;
        padding: 0rem 2rem;


        &>ul {
            display: flex;
            flex-direction: column;
            padding-top: 3rem;
            gap: 2rem;

            &>li {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                font-size: 1.25rem;

                &>.material-symbols-outlined {
                    font-size: 2rem;
                }
            }
        }
    }

    &>.sidebar-footer {
        padding: 0rem 2rem;
        border-top: 1px solid #F0F0F0;
        flex: 1.25;
        display: flex;
        flex-direction: column;
        justify-content: end;

        &>ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &>li {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: center;
                font-size: 1.25rem;

                &>.material-symbols-outlined {
                    font-size: 2rem;
                }
            }
        }
    }
}

.nav-bar {
    grid-area: nav-bar;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 2rem;
    justify-content: space-between;
    gap: 2rem;

    &>.icon-hamburger {
        .material-symbols-outlined {
            font-size: 2rem;
        }

    }

    &>.search {
        flex: 1;
        display: flex;
        justify-content: center;

        &>input {
            border: 1px solid #EEEEEE;
            border-radius: 10px;
            padding: 10px;
            width: 100%;
            height: 50px;
            box-sizing: border-box;
            font-size: 1rem;
        }
    }

    &>.profile {


        &>.circle-picture {
            background-color: gray;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
}

.content-section {
    grid-area: content-section;
    padding: 0rem 2rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &>.dashboard {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &>.title {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;

            &>.icon {
                border-radius: 5px;

                &>.material-symbols-outlined {
                    font-size: 2rem;
                    background-color: #627AEC;
                    border-radius: 6px;
                    padding: 2px;
                    color: white;

                }

            }

            &>.name {
                font-size: 1.5rem;
                font-weight: bold;
            }
        }


        &>.content {
            display: flex;
            flex-direction: row;
            gap: 2rem;

            &>.total-likes {
                background-color: #CDDFFC;
                width: 100%;
                height: 200px;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                &>.icon {
                    &>.material-symbols-outlined {
                        font-size: 2.5rem;
                    }
                }

                &>.name {
                    font-size: 1.25rem;

                }

                &>.value {
                    font-size: 3rem;
                }
            }

            &>.comments {
                background-color: #FCF3DB;
                width: 100%;
                height: 200px;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                &>.icon {
                    &>.material-symbols-outlined {
                        font-size: 2.5rem;
                    }
                }

                &>.name {
                    font-size: 1.25rem;

                }

                &>.value {
                    font-size: 3rem;
                }

            }

            &>.total-share {
                background-color: #ECE2FB;
                width: 100%;
                height: 200px;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                &>.icon {
                    &>.material-symbols-outlined {
                        font-size: 2.5rem;
                    }
                }

                &>.name {
                    font-size: 1.25rem;

                }

                &>.value {
                    font-size: 3rem;
                }

            }
        }


    }

    &>.recent-activity {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &>.title {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;

            &>.icon {
                border-radius: 5px;

                &>.material-symbols-outlined {
                    font-size: 2rem;
                    background-color: #627AEC;
                    border-radius: 6px;
                    padding: 2px;
                    color: white;

                }

            }

            &>.name {
                font-size: 1.5rem;
                font-weight: bold;
            }

        }

        &>.content {
            padding: 0 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: auto;
            height: calc(100vh - 500px);

            &>table {
                width: 100%;
                height: 100;
                overflow: auto;
            }

            th {
                font-weight: bold;
                text-align: left;
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: white;
            }

            th,
            td {
                padding: 10px;
            }
        }
    }
}



@media (max-width: 768px) {
    .content-section {
        &>.recent-activity {
            &>.content {

                height: calc(100vh - 197px);
            }
        }
    }

}

@media (max-width: 667px) {
    .content-section {
        &>.recent-activity {
            &>.content {

                height: 100vh;
            }
        }
    }

}




@media (max-width: 480px) {
    .grid-container-layout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "nav-bar"
            "content-section";
    }

    .nav-bar {
        padding-top: 1rem;
    }

    .content-section {
        &>.dashboard {
            &>.content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                &>.total-likes {
                    height: 100px;
                    width: 70%;
                    flex-direction: row;
                    
                    &>.name {
                        display: none;
                    }
                }

                &>.comments {
                    height: 100px;
                    width: 70%;
                    flex-direction: row;
                    
                    &>.name {
                        display: none;
                    }
                }

                &>.total-share {
                    height: 100px;

                    width: 70%;
                    flex-direction: row;
                    
                    &>.name {
                        display: none;
                    }
                }
            }
        }

        &>.recent-activity {
            &>.content {

                height: calc(100vh - 76px);
            }
        }
    }

    .sidebar-section {
        display: none;
    }
}